@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
}

/* Утилита для скрытия ползунка прокрутки, но сохранения самой прокрутки */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
