pip install "fastapi[standard]" sqlalchemy psycopg2-binary python-dotenv pydantic-extra-types phonenumbers
#fastapi — сам фреймворк, sqlalchemy — ORM (позволяет писать запросы к БД на Python, а не на SQL), psycopg2-binary — драйвер для связи с PostgreSQL, python-dotenv — для безопасного хранения паролей.
