{
email {$ACME_EMAIL:admin@ethicalbusiness.ru}
}

{$APP_DOMAIN:ethicalbusiness.ru}, www.{$APP_DOMAIN:ethicalbusiness.ru} {
	handle_path /api/* {
		reverse_proxy backend:8000
	}

	handle {
		@html not path /_next/static/* /favicon.ico /manifest.webmanifest
		header @html >Cache-Control "no-store, max-age=0, must-revalidate"
		reverse_proxy frontend:3000
	}
}
